.screen {
  display: flex;
  background-color: black;
  color: white;
  width: 100%;
  height: 25%;
  border-bottom: 1px solid gray;
  justify-content: right;
  align-self: baseline;
  
}

.display-text {
  margin-left: auto;
  margin-top: auto;
  font-size: 5rem;
  padding: 1rem;
}